[viewBag]

[UpcomingMatches]
daysInFuture = 14
showLogo = 1
showName = 1
showCasters = 1
type = "team"
casterFilter = "off"

==
{% if user.sloth.teams is not empty %}
<div class="col-md-6 col-12">
    <ul class="nav nav-tabs">
        {% for team in user.sloth.teams %}
        <li class="nav-item">
            <a class="nav-link {% if loop.first %}active{% endif %}" href="#upcomingMatches-{{team.id}}" data-toggle="tab" role="tab">{{team.title}}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for team in user.sloth.teams %}
        <div class="tab-pane {% if loop.first %}active{% endif %}" id="upcomingMatches-{{team.id}}" role="tabpanel">
            {% component 'UpcomingMatches' id = team.id %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
