[DivisionTable]
maxEntries = 2

[viewBag]
==
{% if user.sloth.team  and user.sloth.team.active_divisions | length > 0 %}
<div class="col-md-6 col-12">
    <h3>Standings</h3>
    {% for div in user.sloth.team.active_divisions %}
        {% if div.season %}
        <h4><a href="{{ 'season/division'|page({slug: div.season.slug, divslug: div.slug})}}"> {{div.title}}</a></h4>
        {% elseif div.playoff %}
        <h4><a href="{{ 'playoff/view'|page({'playoff-title': div.playoff.title})}}"> {{div.title}}</a></h4>
        {% else %}
        <h4> {{div.title}} </h4>
        {% endif %}
        {% component 'DivisionTable' id = div.id teamId = user.sloth.team.id%}
    {% endfor %}
</div>
{% endif %}