[viewBag]
==
<div class="footer-widgets bg-footer">
    <div class="container">
        <div class="row">

            <!-- Footer Col 1 -->
            <div class="col-md-3 footer-widget footer-widget-col-1 wow">
                <div id="text-2" class="widget widget_text">
                    <h3 class="widget-title">About Heroes Lounge</h3>
                    <div class="textwidget">
                        {% content 'footer/about' %}
                        {% if this.theme.social_facebook %}
                        <a href="{{ this.theme.social_facebook }}" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if this.theme.social_google %}
                        <a href="{{ this.theme.social_google }}" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a>
                        {% endif %}
                        {% if this.theme.social_twitter %}
                        <a href="{{ this.theme.social_twitter }}" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                        {% if this.theme.social_instagram %}
                        <a href="{{ this.theme.social_instagram }}" class="btn btn-social-icon btn-flickr"><i class="fa fa-instagram"></i></a>
                        {% endif %}
                        {% if this.theme.social_linkedin %}
                        <a href="{{ this.theme.social_linkedin }}" class="btn btn-social-icon btn-facebook"><i class="fa fa-linkedin"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /Footer Col 1 -->

            <!-- Footer Col 2 -->
            <div class="col-md-3 footer-widget footer-widget-col-2 wow">
        
            </div>
            <!-- /Footer Col 2 -->

            <!-- Footer Col 3 -->
            <div class="col-md-3 footer-widget footer-widget-col-3 wow">
            </div>
            <!-- /Footer Col 3 -->

            <!-- Footer Col 4 -->
            <div class="col-md-3 footer-widget footer-widget-col-4 wow">
                <a class="btn btn-primary mt-1" href="https://www.facebook.com/heroeslounge.gg" style="height: 54px; width: 120px;">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary mt-1" href="https://twitter.com/HeroesLoungeGG" style="height: 54px; width: 120px;">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary mt-1" href="https://www.patreon.com/heroesloungegg">
                    <img src="{{ 'assets/img/btns/Patreon wordmark (white).png' | theme }}" height="28" width="78">
                </a>
                <a class="btn btn-primary mt-1" href="https://discordapp.com/invite/aePkBsZ">
                    <img src="{{ 'assets/img/btns/Discord-Logo+Wordmark-White.svg' | theme }}" height="28" width="78">
                </a>
            </div>
            <!-- /Footer Col 4 -->

        </div>
    </div>
</div>
