[viewBag] 
==

<p class="lead">
    We are Europe’s largest Heroes of the Storm amateur league. </p>
<p>Whether you are in bronze, a GM, or even just like playing quick match, if you are interested in competitive Heroes of the
    Storm there's a place for you here.
</p>
<p>
    You can sign up as a free agent, where we will place you on a team, or you can form a team with your friends. Whatever you
    choose, we will place you into a division based on your skill level.
</p>
<p>
    Each week you will be given an opponent and together you can schedule the match at a mutually convenient time. Once game
    day arrives, chances are one of our casters will contact you to stream your match live to our viewers for that pure competitive
    experience. As the season progresses you will be fighting for your division standing and the chance of promotion to the
    next division, and of course, a chance to make it into the playoffs!
</p>

<p>
    <em>Good sportsmanship</em> is at the heart of Heroes Lounge. As an amateur league, being flexible and understanding
    is extremely important to us. Be kind, respectful, and most importantly, have fun!
</p>
<p>
    As always, if you have any questions, please do not hesitate to contact one of our moderators.
</p>