description = "Clean layout"

[Navigation]

[googleTracker]

[SetTimezone]

[session]
security = "all"
==
{% partial 'base/start' %}

<body class="{{ this.page.id }} page page-{{ this.page.id }} layout-{{ this.layout.id }} {% placeholder bodyclass %}">

    {% partial 'base/head' %} 

    <div class="section blog-feed bg-white">
        <div class="container">
            <div class="row">
                {% partial 'base/page' %} 
            </div>
        </div>
    </div>
    {% partial 'base/foot' %} 
    {% placeholder modal %}
</body>
</html>
