description = "Clean layout"

[Navigation]

[googleTracker]

[SideNav]

[session]
security = "all"
==
<?php
use RainLab\Translate\Models\Message;
use Rikki\Heroeslounge\Models\Sloth;
use Rikki\Heroeslounge\Classes\Helpers\TimezoneHelper;

function onStart() {
    $this['baseUrl'] = Config::get('app.url');
    Message::setContext(App::getLocale(), $this->page->url);
    $this['hasTimezone'] = TimezoneHelper::hasTimezone();
}

function onTimezoneDetection() {
    TimezoneHelper::setTimezone();
}
?>
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
{% if not hasTimezone %}
{% put scripts %}
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery.request('onTimezoneDetection', {
        data: {timezone: Intl.DateTimeFormat().resolvedOptions().timeZone}
    })
});
</script>
{% endput %}
{% endif %}
<head>
    {% partial 'assets/head' %}
</head>

<body class="{{ this.page.id }} page page-{{ this.page.id }} layout-{{ this.layout.id }} {% placeholder bodyclass %}">

    {% partial 'base/head' %} 
    <div class="sticky-top float-left" style="top:90px">
            {% component 'SideNav' %}
    </div>
 
    <div class="section blog-feed bg-white">
        <div class="container">
            <div class="row">
                {% partial 'base/page' %} 
            </div>
        </div>
    </div>
  
    {% partial 'base/foot' %} 
    
    
{% placeholder modal %}
</body>

</html>