description = "Clean layout"

[Navigation]

[googleTracker]

[SideNav]

[session]
security = "all"

[staticPage]
==
<?php
function onStart() {
    $this['baseUrl'] = Config::get('app.url');
}
?>
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">

<head>
    {% partial 'assets/head' %}
</head>

<body class="{{ this.page.id }} page page-{{ this.page.id }} {% placeholder bodyclass %}">

    {% partial 'base/head' %} 
    <div class="sticky-top float-left" style="top:90px">
        {% component 'SideNav' %}
    </div>
    {% partial 'base/page' %} 
    {% partial 'base/foot' %} 
    {% placeholder modal %}
</body>
</html>
