description = "Plain Fluid layout"

[staticPage]

[Navigation]

[googleTracker]

[SetTimezone]

[session]
security = "all"
==
{% partial 'base/start' %}

<body class="{{ this.page.id }} page page-{{ this.page.id }} layout-{{ this.layout.id }} {% placeholder bodyclass title='Body class' %}">

    {% partial 'base/head' %} 
    <div class="section page-content bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% partial 'base/page' %} 
                </div>
            </div>
        </div>
    </div>
    {% partial 'base/foot' %} 
    {% placeholder modal %}
</body>
</html>
