[viewBag]
snippetCode = "ctd"
snippetName = "Countdown Start"

[ssbuttonsnb]
fa = "maxcdn"
twitter = 1
facebook = 1
google+ = 0
stumbleupon = 0
linkedin = 0
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_stumbleupon = 4
order_linkedin = 5
==
<link rel="stylesheet" href="{{'assets/css/flipclock.css' |theme}}">
<style>
	.header
	{
		background-color:black !important;
	}
</style>
	
	

<div class="wrap">
		<div class="clock" style="margin-top:30px">
				
	</div>
	<div style="margin-top:20px">{% component 'ssbuttonsnb' %}</div>
</div>