<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicons/apple-touch-icon.png' | theme}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicons/favicon-32x32.png' | theme}}">
<link rel="icon" type="image/png" sizes="194x194" href="{{ 'assets/img/favicons/favicon-194x194.png' | theme}}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/img/favicons/android-chrome-192x192.png' | theme}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicons/favicon-16x16.png' | theme}}">
<link rel="manifest" href="{{ 'assets/img/favicons/manifest.json' | theme}}">
<link rel="mask-icon" href="{{ 'assets/img/favicons/safari-pinned-tab.svg' | theme}}" color="#2e93cd">
<link rel="shortcut icon" href="{{ 'assets/img/favicons/favicon.ico' | theme}}">


<meta name="msapplication-config" content="{{ 'assets/img/favicons/browserconfig.xml' | theme}}">
<meta name="theme-color" content="#ffffff">
