.blogPostWrapper
{
    overflow: hidden;
    position: relative;
}

.blogPostWrapper h3
{
    text-shadow: 1px 1px 1px #000;
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:1.5rem;
}

.blogPostWrapper:hover h3
{
    text-decoration: underline;
}

.blogPostWrapper:hover .blogImage
{
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s;
}

.blogImage
{
    background-position: center; 
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color:rgba(0,0,0,0.5);
    background-size:cover;
}

.blogFPSummary
{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:1rem;
    background-color:rgba(0,0,0,0.5)
}


.blogFeaturedIndicator
{
    cursor:pointer;
    text-shadow: 2px 2px 2px #000;
}
.blogFeaturedIndicator  h4
{
    background-color:rgba(0,0,0,0.6);
     height:100%;
}

.blogFeaturedIndicator  h4.active
{
    background-color:rgba(0,0,0,0.2);
}

#blogFeaturedSlide .carousel-item
{
    height:44vh; 
    background-size:cover;
    background-position: center center;
}


.no-margin {
    margin-bottom: 0;
}
#welcome {
    padding-bottom: 0;
}
a.navbar-brand.text-logo {
    font-size:36px;
}
@media (max-width: 767px) {
    .no-margin-xs {
        margin-left: 0;
        margin-right: 0;
    }
    a.navbar-brand.text-logo {
        font-size:34px;
    }
    nav.navbar-custom2 button.navbar-toggler {
        margin-top: 9.4px;
        margin-bottom: 9.4px;
    }
}
@media (max-width: 400px) {
    nav.navbar-custom2 {
        padding-right: 0;
        padding-left: 5px;
    }
    a.navbar-brand.text-logo {
        font-size:30px;
    }
    nav.navbar-custom2 button.navbar-toggler {
        margin-top: 6.4px;
        margin-bottom: 6.4px;
    }
}

li#menu-item-668 a {
    color: white;
}
li#menu-item-668 {
    background-color: #000;
}
.widget_facebook_likebox {
    overflow: hidden;
}
.header .locale-menu {
    float: right;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}
.locale-menu li {
    float: left;
    margin-left: 10px;
}
.locale-menu li a {
    display: block;
    width: auto;
    padding: 4px 0 0 5px;
}

.Icon24x
{
    width:24px;
    height:24px;
}

.Icon28x
{
    width:28px;
    height:28px;
}

i.facebook-white,i.twitch-white,i.twitter-white,i.youtube-white,i.website-white
{
    color:#fff;
    text-shadow:1px 1px 1px #000;
}

i.facebook-white:hover{
    color:#3b5998;
}
i.twitch-white:hover{
    color:#6441a5;
}
i.twitter-white:hover{
    color:#0084b4;
}
i.youtube-white:hover
{
    color:#cc181e;
}
i.website-white:hover
{
    color:#559900;
}

.hover-fadein
{
    opacity: 0;
}
.hover-fadein:hover
{
    opacity:1;
}