<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="divsnav" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Events</a>
  <ul role="menu" class="dropdown-menu pull-right">
    <li class="nav-item dropdown-submenu">
      <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[EU] Offmeta Maps</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"
          href="{{ 'playoff/view' |page({'playoff-title': 'eu-offmeta-maps-season-1-1'})}}"></i>Standings</a>
        <a class="dropdown-item" href="/offmeta-maps-ruleset"></i>Ruleset</a>
      </div>
    </li>
    <hr>
    <a class="dropdown-item" href="{{ 'events/archive' | page }}">Archive</a>
  </ul>
</li>
