<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="divsnav" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Events</a>
  <ul role="menu" class="dropdown-menu pull-right">
    <li class="nav-item dropdown-submenu">
      <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[EU] Offmeta Maps</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"
          href="{{ 'playoff/view' |page({'playoff-title': 'eu-offmeta-maps-season-1-1'})}}"></i>Standings</a>
        <a class="dropdown-item" href="/offmeta-maps-ruleset"></i>Ruleset</a>
      </div>
    </li>
    <hr>

    <li class="dropdown-item dropdown-submenu">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        id="events_archive">Archive</a>
      <ul role="menu" class="dropdown-menu pull-right" aria-labelledby="#events_archive">
        <li class="nav-item dropdown-submenu">
          <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[NA] Aram <br>
            League</a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="{{ 'playoff/view' |page({'playoff-title': 'aram-league-na-stage-1'})}}"></i>Stage 1</a>
            <a class="dropdown-item"
              href="{{ 'playoff/view' |page({'playoff-title': 'aram-league-na-stage-2'})}}"></i>Stage 2</a>
            <a class="dropdown-item" href="/aram-league-ruleset"></i>Ruleset</a>
          </div>
        </li>
        <li class="nav-item dropdown-submenu">
          <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[EU] Aram <br>
            Season 1</a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="{{ 'playoff/view' |page({'playoff-title': 'aram-league-eu-stage-1'})}}"></i>Stage 1</a>
            <a class="dropdown-item"
              href="{{ 'playoff/view' |page({'playoff-title': 'aram-league-eu-stage-2'})}}"></i>Stage 2</a>
            <a class="dropdown-item" href="/aram-league-ruleset"></i>Ruleset</a>
          </div>
        </li>
        <li class="nav-item dropdown-submenu">
          <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[EU] Aram <br>
            Season 2</a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="{{ 'playoff/view' |page({'playoff-title': 'group-stage-eu-aram-2'})}}"></i>Group Stage</a>
            <a class="dropdown-item" href="/aram-league-ruleset"></i>Ruleset</a>
          </div>
        </li>
        <li class="nav-item dropdown-submenu">
          <a class="dropdown-toggle dropdown-item" id="divsnav" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Division S</a>
          <ul role="menu" class="dropdown-menu pull-right">
            <a class="dropdown-item" href="{{ 'divisionS/general' | page }}">Overview</a>
            <a class="dropdown-item" href="{{ 'divisionS/schedule' | page }}">Schedule</a>
            <li class="nav-item dropdown-submenu">
              <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[EU] Season 2</a>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-playoffs-eu'})}}">Playoffs</a>
                <a class="dropdown-item"
                  href="{{ 'season/division'|page({slug: 'eu-division-s-season-2', divslug: 'eu-division-s-season-2'})}} ">Regular
                  Season</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-1-eu'})}}">Qualifier
                  1</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-2-eu'})}}">Qualifier
                  2</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-3-eu'})}}">Qualifier
                  3</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-4-eu'})}}">Qualifier
                  4</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-crucible-tournament-eu '})}}">Crucible</a>
              </div>
            </li>
            <li class="nav-item dropdown-submenu">
              <a class="dropdown-toggle dropdown-item" data-toggle="dropdown">[NA] Season 2</a>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-playoffs-na'})}}">Playoffs</a>
                <a class="dropdown-item"
                  href="{{ 'season/division'|page({slug: 'na-division-s-season-2', divslug: 'na-division-s-season-2'})}} ">Regular
                  Season</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-1-na'})}}">Qualifier
                  1</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-2-na'})}}">Qualifier
                  2</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-3-na'})}}">Qualifier
                  3</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-4-na'})}}">Qualifier
                  4</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'division-s-season-2-qualifiers-5-na'})}}">Qualifier
                  5</a>
              </div>
            </li>
            <li class="nav-item dropdown-submenu">
              <a class="dropdown-toggle dropdown-item" data-toggle="dropdown" id="divseuseason1">[EU] Season 1</a>
              <div class="dropdown-menu" aria-labelledby="#divseuseason1">
                <a class="dropdown-item"
                  href="{{ 'season/division'|page({slug: 'eu-division-s-season-1', divslug: 'eu-division-s-season-1'})}} ">Regular
                  Season</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'eu-division-s-playoffs'})}}">Playoffs</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'eu-division-s-qualifiers-1'})}}">Qualifier
                  1</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'eu-division-s-qualifiers-2'})}}">Qualifier
                  2</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'eu-division-s-qualifiers-3'})}}">Qualifier
                  3</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'eu-division-s-qualifiers-4'})}}">Qualifier
                  4</a>
              </div>
            </li>
            <li class="nav-item dropdown-submenu">
              <a class="dropdown-toggle dropdown-item" data-toggle="dropdown" id="divsnaseason1">[NA] Season 1</a>
              <div class="dropdown-menu" aria-labelledby="#divsnaseason1">
                <a class="dropdown-item"
                  href="{{ 'season/division'|page({slug: 'na-division-s-season-1', divslug: 'na-division-s-season-1'})}} ">Regular
                  Season</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'na-division-s-playoffs'})}}">Playoffs</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'na-division-s-qualifiers-1'})}}">Qualifier
                  1</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'na-division-s-qualifiers-2'})}}">Qualifier
                  2</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'na-division-s-qualifiers-3'})}}">Qualifier
                  3</a>
                <a class="dropdown-item"
                  href="{{ 'playoff/view' | page({'playoff-title': 'na-division-s-qualifiers-4'})}}">Qualifier
                  4</a>
              </div>
            </li>
            <a class="dropdown-item" href="{{ 'divisionS/ruleset' | page }}">Ruleset</a>
            <a class="dropdown-item" href="/division-s-ruleset/division-s-playoffs">Playoff Ruleset</a>
            <a class="dropdown-item" href="{{ 'divisionS/crew' | page }}">Crew</a>
            <a class="dropdown-item" href="http://crowdfunding.heroeslounge.gg"></i> Crowdfunding EU</a>
            <a class="dropdown-item" href="http://crowdfunding.na.heroeslounge.gg"></i> Crowdfunding NA</a>
          </ul>
        </li>
        <a class="dropdown-item" href="{{ 'playoff/view' | page({'playoff-title': 'nut-cup'})}}">Nut
          Cup</a>
      </ul>
    </li>
  </ul>
</li>
