[viewBag]
==
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="divsnav" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Method Mayhem</a>
  <ul role="menu" class="dropdown-menu pull-right">
    <a class="dropdown-item" href="/method-mayhem-overview">Overview</a>
    <a class="dropdown-item" href="{{ 'playoff/view' | page({'playoff-title': 'method-mayhem-cup-1'})}}">Cup 1</a>
    <a class="dropdown-item" href="{{ 'playoff/view' | page({'playoff-title': 'method-mayhem-cup-2'})}}">Signups Cup 2</a>
    <a class="dropdown-item" href="/guides/signup-guide">Sign-up Guide</a>
    <a class="dropdown-item" href="/method-mayhem-hots-ruleset">Ruleset</a>
    <a class="dropdown-item" href="https://matcherino.com/tournaments/29415/overview">Crowdfunding</a>
  </ul>
</li>
